.App {
  text-align: center;
  min-width: 30cm;
}
.AppBody {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Header {
  height: 3cm;
  text-align: left;
  align-items: flex-start;
  display:flex; 
}
.HeaderText{
  font-size: 0.8cm;
  font-weight: bold;
  margin-left: 1cm;
}
.HeaderRouter{
  height: 3cm;
  align-items: center;
  display:flex; 
  margin-left: 1cm;
}
.HeaderLink{
  margin: 0.4cm;
  font-size: 0.4cm;
  font-weight: bold;
}
.LoginTitleDiv{
  margin: 1cm;
  border-bottom: 1px solid #282c34;
  align-items: center;
}
.LoginTitleFont{
  font-size: 0.7cm;
  font-weight: bold;
}
.LoginBody{
  align-items: center;
  flex-direction: column;
}
.IDInput{
  position: relative;
  overflow: hidden;
  width: 60%;
  height: 35px;
  margin-top: 0.8cm;
  margin-bottom: 0.8cm;
  padding: 5px 39px 5px 11px;
  border: solid 1px #282c34;
  background: #fff;
  box-sizing: border-box;
  border-radius: 0.2cm;
}
.IDDiv{
  display: flex;
  justify-content: center;
}
.IDPasswordTitleFont{
  margin-top: 0.9cm;
  margin-bottom: 0.9cm;
  width: 20%;
  font-size: 0.4cm;
  font-weight: bold;
  text-align: start;
}
.PasswordDiv{
  display: flex;
  justify-content: center;
}
.PasswordInput{
  position: relative;
  overflow: hidden;
  width: 60%;
  height: 35px;
  margin-top: 0.8cm;
  margin-bottom: 0.8cm;
  padding: 5px 39px 5px 11px;
  border: solid 1px #282c34;
  background: #fff;
  box-sizing: border-box;
  border-radius: 0.2cm;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.LoginDiv {
  height: 13cm;
  width: 10cm;
  background-color: aliceblue;
  border-radius: 1cm;
}
.LoginBottom {
  height: 4cm;
  display: flex;
  align-items: center;
  justify-content: center;
}
.LoginButton {
  height: 1.5cm;
  width: 3cm;
  background-color: #282c34;
  color: #fff;
  border-radius: 0.5cm;
  font-size: 0.5cm;
  font-weight: bold;
}
.NotificationTitleText {
  font-size: 0.8cm;
  font-weight: bold;
  color: #fff;
}
.NotificationBodyDiv {
  background-color: #fff;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  border-radius: 0.3cm;
}
.NotificationDiv{
  width: 90%;
  align-items: center;
  justify-content: center;
}
.NotificationBoardDiv{
  width: 80%;
  align-items: center;
  justify-content: center;
}
.NotificationWriteButtonDiv{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.5cm;
}
.FinancialListSelectDiv{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0.5cm;
}
.NotificationWriteButton{
  height: 1.2cm;
  width: 3cm;
  background-color: #fff;
  border-radius: 0.4cm;
  font-size: 0.4cm;
  font-weight: bold;
  margin-right: 1cm;
}
.ServiceTitleText {
  font-size: 0.8cm;
  font-weight: bold;
  color: #fff;
}
.ServiceBodyDiv {
  background-color: #fff;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  border-radius: 0.3cm;
}
.ServiceDiv{
  width: 90%;
  align-items: center;
  justify-content: center;
}
.TableRowFont{
  font-weight: bold;
}
.NotificationBoardTitleDiv{
  height: 1.5cm;
  margin-left: 1cm;
  margin-right: 1cm;
  border-bottom: 1px solid #282c34;
  align-items: flex-start;
  display: flex;
  padding: 0.5cm;
}
.NotificationBoardTitleFont{
  font-size: 0.7cm;
  font-weight: bold;
}
.LinkFont{
  font-size: 0.5cm;
  font-weight: bold;
}
.NotificationBoardCateFont{
  font-size: 0.5cm;
  font-weight: bold;
}
.NotificationBoardDateDiv{
  width: 100%;
  height: 3cm;
  justify-content: flex-end;
  display: flex;
}
.NotificationBoardInnerDateDiv{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.NotificationBoardDateFont{
  font-weight: bold;
  margin-right: 3cm;
}
.NotificationBoardOuterContentDiv{
  margin-top: 1cm;
  margin-bottom: 1cm;
  width: 100%;
  height: 10cm;
  align-items: center;
  justify-content: center;
  display: flex;
}
.CounselorContentDiv{
  margin-top: 1cm;
  margin-bottom: 1cm;
  width: 100%;
  height: 2cm;
  align-items: center;
  justify-content: center;
  display: flex;
}
.FinancialItemWriteDiv{
  margin-top: 1cm;
  margin-bottom: 1cm;
  width: 100%;
  height: 10cm;
}
.NotificationBoardInnerContentDiv{
  width: 80%;
  height: 10cm;
  border: 1px solid #929292;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 0.3cm;
}
.NotificationBoardContentFont{
  width: 95%;
  height: 9.5cm;
  text-align: left;
}
.NotificationBoardButtonDiv{
  width: 100%;
  height: 2cm;
}
.NotificationUpdateButton{
  height: 1cm;
  width: 2cm;
  background-color: #282c34;
  color: #fff;
  border-radius: 0.3cm;
  font-size: 0.4cm;
  font-weight: bold;
}
.NotificationDeleteButton{
  height: 1cm;
  width: 2cm;
  background-color: #282c34;
  color: #fff;
  border-radius: 0.3cm;
  font-size: 0.4cm;
  font-weight: bold;
  margin: 0.3cm;
}
.NotificationWriteDiv{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.NotificationWriteBodyDiv{
  background-color: #fff;
  width: 90%;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  border-radius: 0.3cm;
}
.CounselorWriteBodyDiv{
  background-color: #fff;
  width: 70%;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  border-radius: 0.3cm;
}
.FinancialWriteBodyDiv{
  background-color: #fff;
  width: 80%;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  border-radius: 0.3cm;
}
.BoardWriteTitleDiv{
  margin-top: 0.5cm;
  width: 100%;
  display: flex;
  justify-content: center;
}
.LinkDiv{
  width: 100%;
  display: flex;
  justify-content: center;
}
.BoardTitleInput{
  height: 0.9cm;
  width: 80%;
  margin-top: 0.7cm;
  font-size: 0.5cm;
}
.BoardTitle{
  height: 0.9cm;
  width: 80%;
  margin-top: 0.7cm;
  font-size: 0.5cm;
  text-align: left;
}
.CounselorTitleInput{
  height: 0.9cm;
  width: 60%;
  margin-top: 0.7cm;
  font-size: 0.5cm;
}
.LinkInput{
  height: 0.6cm;
  width: 80%;
  font-size: 0.3cm;
  margin-top: 0.5cm;
}
.LinkText{
  height: 0.6cm;
  width: 80%;
  font-size: 0.4cm;
  margin-top: 0.5cm;
  text-align: left;
}
.counselorCompanyInput{
  height: 0.7cm;
  width: 60%;
  font-size: 0.4cm;
  margin-top: 0.4cm;
}
.BoardContentInput{
  width: 80%;
  height: 10cm;
  font-size: 0.4cm;
}
.BoardCateInput{
  width: 4cm;
  height: 0.9cm;
  font-size: 0.4cm;
  margin-left: 1cm;
  margin-top: 0.5cm;
}
.SavingTypeInput{
  width: 3.5cm;
  height: 0.9cm;
  font-size: 0.4cm;
  margin-left: 0.5cm;
  margin-top: 0.3cm;
}
.BoardCateInputDiv{
  width: 100%;
  display: flex;
  justify-content:flex-start;
  margin-left: 2.5cm;
}
.Page-link{
  border: 1px solid #282c34;
  font-size: 0.4cm;
  width: 1cm;
  height: 1cm;
  border-radius: 0.2cm;
  margin: 0.1cm;
}
.Page-link-highlight{
  border: 1px solid #282c34;
  font-size: 0.4cm;
  width: 1cm;
  height: 1cm;
  border-radius: 0.2cm;
  margin: 0.1cm;
  color: #fff;
  background-color: darkgray;
}
.PageDiv{
  margin-top: 0.5cm;
}
.QueryBoardBodyDiv {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  border-radius: 0.3cm;
}
.QueryBoardReplyDiv{
  margin-left: 1cm;
  margin-right: 1cm;
  border-top: 1px solid #282c34;
  height: 7cm;
}
.QueryBoardReplyTitleDiv{
  width: 100%;
  margin-left: 1cm;
  display: flex;
  align-items: flex-start;
}
.QueryBoardOuterContentDiv{
  width: 100%;
  height: 4cm;
  align-items: center;
  justify-content: center;
  display: flex;
}
.QueryContentInput{
  width: 95%;
  height: 4cm;
}
.ReplyContentDiv{
  width: 100%;
  height: 4cm;
  display: flex;
  align-items:flex-start;
  border: 1px solid #282c34;
  border-radius: 0.5cm;
  margin-bottom: 0.5cm;
}
.MainBodyDiv {
  min-height: 85vh;
  display: flex;
  flex-direction: row;
  border-radius: 0.3cm;
  justify-content: center;
}
.box{
  display:block;
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap; 
  width: 250px;
}
.FinancialRow{
  display: flex;
  flex-direction: row;
}
.FinancialFundProfitInput{
  height: 0.6cm;
  width: 2cm;
  font-size: 0.5cm;
  margin-top: 0.3cm;
}
.FinancialFundSizeInput{
  height: 0.6cm;
  width: 2cm;
  font-size: 0.5cm;
  margin-top: 0.3cm;
}
.FinancialFundDiv{
  margin-top: 1cm;
  margin-bottom: 1cm;
  width: 100%;
  height: 5cm;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.FinancialFundWriteDiv{
  width: 80%;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
