<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>830649436365-ol0gfn3qhqhklsggdpifokasu18ug1u0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.830649436365-ol0gfn3qhqhklsggdpifokasu18ug1u0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>830649436365-4ki7keokfavvdit4m0disqfttriv1gcf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCSaZtQbybw4oYy6SoCuMVPr0-GRL8cI48</string>
	<key>GCM_SENDER_ID</key>
	<string>830649436365</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.PyeonHee</string>
	<key>PROJECT_ID</key>
	<string>pyeonhee-ac0dc</string>
	<key>STORAGE_BUCKET</key>
	<string>pyeonhee-ac0dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:830649436365:ios:cd36591e1803c4004b8184</string>
</dict>
</plist>